     body {
            background-color: rgb(131, 143, 130);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    h1{
            color: rgb(255, 255, 255);
            background-color: rgb(255, 119, 41);
        }
    h2 {
            color: rgb(255, 255, 255);
        }
    p {
            color: rgb(0, 0, 0);
            font-size: 15px;
        }