body {
    background-color: #b8fd5e;
}

h1 {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
}

h2 {
    text-align: center;
}

ul {
    text-align: center;
    list-style-type: square;
    margin-left: auto;
}

li {
    font-size: 16px;
    line-height: 1.5;
}

a {
    color: #ff3d3d;
    text-decoration: none;
}

